body {
    margin: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    font-size: x-large;
    position: fixed;
    width: 95%;
    padding: auto;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para la navegación dentro del header */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}

/* Estilo para la lista dentro de la navegación */
header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #585656;
    color: rgb(255, 255, 255);
}

header nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#salchiTeam a {
    float: left; 
    margin-left: -570px;
    text-decoration: none;
    color: black;
}

/* Estilo para el contenedor principal */
.main-container {
    display: flex;
    flex-direction: row; /* Establece la dirección de la disposición a fila */
    flex: 1; /* Para ocupar el espacio vertical restante */
    margin-bottom: 50px;
    gap: 30px;
}

footer {
    margin-top: 20px; /* Espacio entre el contenido principal y el footer */
    border-top: 1px solid #ccc; /* Borde superior de 1px sólido de color gris claro */
    text-align: center;
}

section {
    justify-self: center;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Utilizamos flexbox para alinear las imágenes en una fila */
    gap: 10px; /* Espacio entre las imágenes */
    width: fit-content;
    margin-bottom: 0; /* Elimina el margen inferior */
}

section img {
    max-width: 30%; /* Aseguramos que las imágenes no se extiendan más allá de su contenedor */
    border-radius: 10px; /* Añadimos bordes redondeados a las imágenes */
    height: 500px;
}

aside {
    text-align: justify;
}
